*{
    box-sizing: border-box;
    margin: 0;

}

.img-fluid {
    width: 100%;
    height: auto;
    
}

.wrap {
    width: 80%;
    height: 2000px;
    margin: auto;
    background-color: hotpink;
}

.background {
    margin: auto;
    /* width: clamp(1200, 600px, 2000px);
    height: 675px; */
    width: 100%;
    
    /* background: url(./stue.webp);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center; */

    position: relative;

    object-fit: cover;
}

.pin {
    position: absolute;
    bottom: 34%;
    right: 27%;
    
    width: 3%;
    height: 4%;
    object-fit: contain;

}

#pin-content, #pin-content2 {
    display: none;

    position: absolute;
    /* top:  -400px;
    height: auto;
    width: 300px; */
    /* left: -200%; */

    bottom: 38%;
    right: 16%;
    max-width: 25%;
    
    background-color: #F4F0E7;

  }
  
  #pin-content:target, #pin-content2:target {
    display: flex;
    flex-direction: column-reverse;
    
  }

  .pin-img {
    max-height: 150px;
    object-fit: cover;
  }

  .pin-headline {
    text-align: center;
    margin-bottom: 5px;
  }
  .pin-text {
    padding: 5px;
  }

  .close {
    position: absolute;
    top: 0;
    right: 0;
    
    padding: 5px 10px;

    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.5rem;

  }
