@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,700;1,400&display=swap');

/* temp håndskrevet font, den rigtige koster penge */
  @import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,700;1,400&family=Qwigley&display=swap');

  @font-face {
    font-family: Handwriting;
    src: url("/assets/Til\ Ptak/Joules et Jaques Hand.otf") format("opentype");
}

*{
    box-sizing: border-box;
    margin: 0;

  font-family: 'EB Garamond', serif;
}

body {
  background-color: #F4F0E7;
}

.img-fluid {
    width: 100%;
    height: auto;
    
}

.wrap {
  margin: auto;
  width: 80%;
  background-color: #F4F0E7;
  
  /* temp styling, til development */
  margin-bottom: 1000px;

}

/* #region button */

.button-container {
  width: 500px;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;

}

.button-container button {
  background-color: #635642;
  padding: 5px 25px;
  border: none;
  cursor: pointer;
  
  color: #E5E3E0;
  font-weight: 700;
  font-size: 13px;
  text-transform: uppercase;
  transition: .3s ;
  
}

.button-container button:hover {
  scale: 1.1;
 
}

/* #endregion */

.background {
    margin: auto;
    width: 100%;

    position: relative;
    object-fit: cover;
}

.kaelder-pin01 {
    position: absolute;
    
    bottom: 46%;
    right: 60%;
    /* bottom: 34%;
    right: 27%; */

    width: 3%;
    height: 4%;
    object-fit: contain;
}

#kaelder-1 {
  padding: 10px 5px 0 5px;
  
  display: none;
  
  position: absolute;
    bottom: 50%;
    right: 49%;
    
    /* bottom: 38%;
    right: 16%; */
    
    
    max-width: 25%;
    
    background-color: #F4F0E7;
    
  }
  
  .stue-pin01 {
      position: absolute;
      
      bottom: 34%;
      right: 27%;
  
      width: 3%;
      height: 4%;
      object-fit: contain;
  }
  #lokale-24 {
    padding: 10px 5px 0 5px;
    
      display: none;
  
      position: absolute;
      bottom: 38%;
      right: 16%;
      max-width: 25%;
      
      background-color: #F4F0E7;
  
    }

  #lokale-24:target, #kaelder-1:target {
    display: flex;
    flex-direction: column-reverse;
    
  }

  .pin-img {
    max-height: 150px;
    /* add when two images */
    /* width: 50%; */
    object-fit: cover;
  }

  /* temp class for at lave to billeder */
  .pin-img-container {
    display: flex;
    justify-content: center;
    gap: 5px;
  }

  .pin-headline {
    text-align: center;
    margin-bottom: 5px;

    font-size: 35px;
    letter-spacing: 2px;
    /* temp handwriting font */
    font-family: 'EB Garamond', serif;
    font-family: 'Handwriting', cursive;
  }

  .pin-text {
    padding: 5px;
    font-family: ;
  }

  .close {
    position: absolute;
    top: 0;
    right: 0;
    
    padding: 5px 10px;

    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.5rem;

  }
